body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(32,32,39,1) 21%, rgba(45,57,63,1) 70%, rgba(66,96,102,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik", sans-serif;
}

